* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #39FF14; /* Verde neon para o texto geral */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #1F1F1F;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #39FF14; /* Verde neon para os links */
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #00FF7F; /* Verde neon mais claro ao passar o mouse */
}

#user-name-header {
    color: #39FF14; /* Verde neon para o nome do usuário */
}

h1 {
    color: #39FF14; /* Verde neon para o título */
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título */
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    background-color: #1C1C1C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.summary {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.summary div {
    background-color: #2C2C2C;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.summary h2 {
    color: #39FF14; /* Verde neon para os títulos das caixas */
    font-size: 20px;
}

.summary p {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF; /* Branco para os valores numéricos */
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1F1F1F;
    color: #39FF14; /* Verde neon para o rodapé */
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
