<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Receita</title>
    <link rel="stylesheet" href="{% static '/css/add.css' %}">
</head>
<body>
<header>
        <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        <div>
            <nav>
                <a href="/">Tela Inicial</a>
                <a href="{% url 'listar_despesas' %}">Visualizar Despesa</a>
                <a href="{% url 'listar_receitas' %}">Visualizar Receita</a>
                <a href="{% url 'logout' %}">Sair</a>
            </nav>
        </div>
    </header>
    <div class = 'container'>
        {% if form.non_field_errors or form.errors %}
        <div class="error-message">
            <ul class="lista_erros"> <!-- Exibe os erros dos campos específicos -->
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="linha_erro">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h1>Registrar Receita</h1>
        <form method="POST" action="{% url 'add_receita' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.decricao.id_for_label }}">Descrição:</label>
                {{ form.descricao }} <!-- Exibe o campo de valor -->
            </div>
            <div class="form-group">
                <label for="{{ form.valor.id_for_label }}">Valor:</label>
                {{ form.valor }} <!-- Exibe o campo de valor -->
            </div>
            <div class="form-group">
                <label for="{{ form.data.id_for_label }}">Data:</label>
                {{ form.data }} <!-- Exibe o campo de valor -->
            </div>
            <div class="form-group">
                <label for="{{ form.categoria.id_for_label }}">Categoria:</label>
                {{ form.categoria }} <!-- Exibe o campo de valor -->
            </div>
        <button type="submit">Adicionar Receita</button>
    </form>
    <div>
</body>
</html>
