<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet"  href ="{% static '/css/listagem.css' %}">
    <title>Lista de Receitas</title>
</head>
<body>
    <header>
        <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        <div>
            <nav>
                <a href= "/">Tela Inicial</a>
                <a href= "{% url 'listar_despesas' %}"> Visualizar Despesas</a>
                <a href= "{% url 'listar_receitas' %}">Visualizar Receitas</a>
                <a href="#">Relatórios</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'cadastro' %}">Cadastre-se</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <h1>Receitas</h1>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
        {% for receita in receitas %}
        <div class = "informacoes">
            <tr>
                <div>
                    <td>{{ receita.descricao }}</td>
                </div>
                <td>{{ receita.valor }}</td>
                <td>{{ receita.data }}</td>
                <td>{{ receita.get_categoria_display }}</td>
                <td>
                    <a href="{% url 'editar_receita' receita.id %}"><button>Editar</button></a>
                    <a href="{% url 'remover_receita' receita.id %}" onclick="return confirm('Tem certeza que deseja remover?');"><button>Remover</button></a>
                </td>
            </tr>
        </div>
        {% endfor %}
    </table>
</body>
</html>
