<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %} <!-- Carregar a tag static do Django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login/css/cadastro.css' %}">
    <title>cadastro_usuario</title>
</head>
<body class="body">
    <div class="container">
        <div class="logo">
            <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        </div>

        {% if form.non_field_errors or form.errors %}
        <div class="error-message">
            <ul class="lista_erros">                <!-- Erros de campos específicos -->
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="linha_erro">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h3>Por favor, registre suas informações!</h3>
        <form action="{% url 'cadastro_usuario' %}" method="POST" class="nome-login">
            {% csrf_token %} <!-- Adicione o token CSRF para segurança -->
            <ul>
            {{ form.as_ul }}
            </ul>
            <button class="confirma" type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
