<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %} <!-- Carregar a tag static do Django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login/css/cadastro.css' %}">
    <title>cadastro_usuario</title>
</head>
<body class="body">
    <div class="container">
        <div class="logo">
            <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        </div>
        <h3>Por favor, registre suas informações!</h3>
        <form action="{% url 'cadastro_usuario' %}" method="POST" class="nome-login">
            {% csrf_token %} <!-- Adicione o token CSRF para segurança -->
            <h3>E-mail</h3> <!-- Alterado de "Nome de usuário" para "E-mail" -->
            <input type="email" name="email" placeholder="E-mail..." required>
            <h3>Senha</h3>
            <input type="password" name="senha" placeholder="Senha..." required>
            <button class="confirma" type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
