<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Login/css/homePageStyle.css">
    <title>BudgetFlow</title>
    {% load static %} <!-- Carregar a tag static do Django -->
</head>
<body>
    <header>
        <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        <div>
            <nav>
                <a href= "{% url 'listar_despesas' %}"> Visualizar Despesas</a>
                <a href= "{% url 'listar_receitas' %}">Visualizar Receitas</a>
                <a href="#">Relatórios</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'cadastro' %}">Cadastre-se</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    <!-- Container Principal -->
    <div class = "ghost"> </div>
    <div>
        <h1>Bem-vindo ao Budget <mark>Flow</mark> {%firstof user.username "visitante"%} !</h1>
    </div>
        <h1>Controle seus <mark>gastos</mark> com mais facilidade</h1>
        <a href="{% url 'add_despesa' %}">
            <button>Cadastre suas despesas</button>
        </a>
        <a href="{% url 'add_receita' %}">     
        <button>Cadastre suas <br>receitas</br></button>
        </a>   
        <!-- Rodapé -->
    <footer>
        &copy; 2024 BudgetFlow. Todos os direitos reservados.
    </footer>

</body>
</html>
