<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Login/css/homePageStyle.css">
    <title>BudgetFlow</title>
    {% load static %} <!-- Carregar a tag static do Django -->
</head>
<body>
    <header>
        <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da pagina"> 
        <div>
            <nav>
                <a href="#">Despesas</a>
                <a href="#">Receitas</a>
                <a href="#">Relatórios</a>
                <a href="{% url 'login_usuario' %}">Login</a>
                <a href="{% url 'cadastro_usuario' %}">Cadastre-se</a>
            </nav>
        </div>
    </header>
    
    <!-- Container Principal -->
    <div class = "ghost"> </div>
    <div>
        <h1>Bem-vindo ao Budget <mark>Flow</mark>!</h1>
    </div>
        <h1>Controle seus <mark>gastos</mark> com mais facilidade</h1>
        <button>Cadastre suas despesas</button>
        <button>Cadastre suas <br>receitas</br></button>    
        <!-- Rodapé -->
    <footer>
        &copy; 2024 BudgetFlow. Todos os direitos reservados.
    </footer>

</body>
</html>
