<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %} <!-- Carregar a tag static do Django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login/css/cadastro.css' %}">
    <title>login_usuario</title>
</head>
<body class="body">
    <div class="container">
        <div class="logo">
            <a href="{% url 'homepage' %}">
                <img src="{% static 'Login/img/Budget_Flow.png' %}" alt="Logo da página">
            </a>
        </div>

            {% if form.non_field_errors %}
                <div class="error">
            {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
            {% endif %}

        <h3>Por favor, entre em sua conta!</h3>
        <form action="{% url 'login' %}" method="POST" class="nome-login">
            {% csrf_token %} <!-- Adicione o token CSRF para segurança -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nome Usuário:</label>
                {{ form.username }} <!-- Exibe o campo de username -->
                {% if form.username.errors %}
        <div class="error">
            {% for error in form.username.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}

            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Senha:</label>
                {{ form.password }} <!-- Exibe o campo de senha -->
                {% if form.password.errors %}
        <div class="error">
            {% for error in form.password.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
            </div>
            <button class="confirma" type="submit">Logar</button>
            <div class="links">
                <a href="{% url 'cadastro' %}">Não sou registrado</a>
            </div>
    </div>
</body>
</html>
